/node_modules
/modules/app/"^.git" 
/modules/base/"^.git" 
/modules/cli/"^.git" 
/modules/cli-command/"^.git" 
/modules/controller/"^.git" 
/modules/app/"^.git" 
/modules/couleurs/"^.git" 
/modules/db-callback/"^.git" 
/modules/db-migrate/"^.git" 
/modules/db-promise/"^.git" 
/modules/db-query/"^.git" 
/modules/db-query-validator/"^.git" 
/modules/db-schema/"^.git" 
/modules/error/"^.git" 
/modules/http-controller/"^.git" 
/modules/http-route/"^.git" 
/modules/http-route-maker/"^.git" 
/modules/lib/"^.git" 
/modules/man/"^.git" 
/modules/method/"^.git" 
/modules/schema/"^.git" 
/modules/sample/"^.git" 
/modules/socket/"^.git" 
/modules/template/"^.git" 
